In [1]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\dell\appdata\roaming\python\python39\site-packages (4.11.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio~=0.17 in c:\users\dell\appdata\roaming\python\python39\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\appdata\roaming\python\python39\site-packages (from selenium) (0.10.3)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: attrs>=20.1.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium                    
from selenium import webdriver     
import pandas as pd
from selenium.webdriver.common.by import By  
import warnings                     
warnings.filterwarnings("ignore")
import time

In [3]:
#Q1.
driver = webdriver.Chrome()

In [4]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [13]:
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]

In [14]:
video_Rank=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for i in video_Rank:
    Video_Rank=i.text
    Rank.append(Video_Rank)

In [15]:
video_Name=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
for i in video_Name:
    Video_Name=i.text
    Name.append(Video_Name)

In [16]:
video_Artist=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
for i in video_Artist:
    Video_Artist=i.text
    Artist.append(Video_Artist)

In [17]:
video_Upload_Date=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
for i in video_Upload_Date:
    Video_upload_Date=i.text
    Upload_date.append(Video_upload_Date)

In [18]:
video_Views=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
for i in video_Views:
    Video_Views=i.text
    Views.append(Video_Views)

In [20]:
print(len(Rank),len(Name),len(Artist),len(Upload_date),len(Views))

50 50 50 50 50

In [21]:
import pandas as pd
df=pd.DataFrame({'RANK':Rank, 'NAME':Name,'ARTIST':Artist,'UPLOAD_DATE':Upload_date,'VIEWS':Views})
df

,RANK,NAME,ARTIST,UPLOAD_DATE,VIEWS
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",13.36
1,2.,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.26
2,3.,"""Johny Johny Yes Papa""[16]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.80
3,4.,"""Bath Song""[17]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.41
4,5.,"""Shape of You""[18]",Ed Sheeran,"January 30, 2017",6.08
5,6.,"""See You Again""[21]",Wiz Khalifa,"April 6, 2015",6.03
6,7.,"""Wheels on the Bus""[26]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.56
7,8.,"""Phonics Song with Two Words""[27]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.48
8,9.,"""Uptown Funk""[28]",Mark Ronson,"November 19, 2014",5.03
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[29]",Miroshka TV,"February 27, 2018",4.97
10,11.,"""Gangnam Style""[30]",officialpsy,"July 15, 2012",4.90
11,12.,"""Masha and the Bear – Recipe for Disaster""[35]",Get Movies,"January 31, 2012",4.56
12,13.,"""Dame Tu Cosita""[36]",Ultra Records,"April 5, 2018",4.44
13,14.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",4.06
14,15.,"""Sugar""[38]",Maroon 5,"January 14, 2015",3.93
15,16.,"""Counting Stars""[39]",OneRepublic,"May 31, 2013",3.87
16,17.,"""Roar""[40]",Katy Perry,"September 5, 2013",3.87
17,18.,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.78
18,19.,"""Waka Waka (This Time for Africa)""[42]",Shakira,"June 4, 2010",3.73
19,20.,"""Sorry""[43]",Justin Bieber,"October 22, 2015",3.71
20,21.,"""Lakdi Ki Kathi""[44]",Jingle Toons,"June 14, 2018",3.69
21,22.,"""Thinking Out Loud""[45]",Ed Sheeran,"October 7, 2014",3.66
22,23.,"""Dark Horse""[46]",Katy Perry,"February 20, 2014",3.59
23,24.,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.55
24,25.,"""Perfect""[48]",Ed Sheeran,"November 9, 2017",3.54
25,26.,"""Faded""[49]",Alan Walker,"December 3, 2015",3.51
26,27.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.51
27,28.,"""Girls Like You""[51]",Maroon 5,"May 31, 2018",3.48
28,29.,"""Lean On""[52]",Major Lazer Official,"March 22, 2015",3.46
29,30.,"""Bailando""[53]",Enrique Iglesias,"April 11, 2014",3.45
30,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"7,046,700,000","November 2, 2020","June 17, 2016"
31,"""Despacito""[9]",Luis Fonsi,"2,993,700,000","August 4, 2017","January 12, 2017"
32,"""See You Again""[21]",Wiz Khalifa,"2,894,000,000","July 10, 2017","April 6, 2015"
33,"""Gangnam Style""⁂[30]",Psy,"803,700,000","November 24, 2012","July 15, 2012"
34,"""Baby""*[66]",Justin Bieber,"245,400,000","July 16, 2010","February 19, 2010"
35,"""Bad Romance""[70]",Lady Gaga,"178,400,000","April 14, 2010","November 24, 2009"
36,"""Charlie Bit My Finger""‡[74]",HDCYT,"128,900,000","October 25, 2009","May 22, 2007"
37,"""Evolution of Dance""[77]",Judson Laipply,"118,900,000","May 2, 2009","April 6, 2006"
38,"""Girlfriend""‡[79][80]",RCA Records,"92,600,000","July 17, 2008","February 27, 2007"
39,"""Evolution of Dance""[77]",Judson Laipply,"78,400,000","March 15, 2008","April 6, 2006"
40,"""Music Is My Hot Hot Sex""‡[85]",CLARUSBARTEL72,"76,600,000","March 1, 2008","April 9, 2007"
41,"""Evolution of Dance""*[77]",Judson Laipply,"10,600,000","May 19, 2006","April 6, 2006"
42,"""Pokémon Theme Music Video""‡[91]",Smosh,"4,300,000","March 12, 2006","November 28, 2005"
43,"""Myspace – The Movie""‡[96][97]",eggtea,"2,700,000","February 18, 2006","January 31, 2006"
44,"""Phony Photo Booth""‡[100]",mugenized,"3,400,000","January 21, 2006","December 1, 2005"
45,"""The Chronic of Narnia Rap""‡[102]",youtubedude,"2,300,000","January 9, 2006","December 18, 2005"
46,"""Cross Bar""‡[104]",joeB,"1,000,000","December 10, 2005","October 21, 2005"
47,"""Ronaldinho: Touch of Gold""‡*[106]",Nikesoccer,"255,000","October 31, 2005","October 21, 2005"
48,"""I/O Brush""‡*[109]",larfus,"247,000","October 29, 2005","October 5, 2005"
49,"""Me at the zoo""[112]",jawed,1,"April 23, 2005","April 23, 2005"

In [22]:
#Q2.
driver = webdriver.Chrome()

In [23]:
driver.get("https://www.bcci.tv/")

In [24]:
search= driver.find_element(By.XPATH,'/html/body/nav/div[1]/button/span[3]')
search.click()

In [25]:
search= driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
search.click()

In [26]:
match_title=[]
series=[]
place=[]
date=[]
time=[]

In [28]:
Match_Title=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
for i in Match_Title:
    Match_TITLE=i.text
    match_title.append(Match_TITLE)

In [29]:
series_match=driver.find_elements(By.XPATH,'//div[@class="small-seprator"]')
for i in series_match:
    Match_series=i.text
    series.append(Match_series)

In [30]:
place_match=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in place_match:
    Match_place=i.text
    place.append(Match_place)

In [31]:
date_match=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in date_match:
    Match_date=i.text
    date.append(Match_date)

In [32]:
time_match=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time_match:
    Match_time=i.text
    time.append(Match_time)

In [33]:
import pandas as pd
df=pd.DataFrame({'MATCH_TITLE':match_title, 'SERIES':series,'PLACE':place,'DATE':date,'TIME':time})
df

         MATCH_TITLE SERIES               PLACE         DATE         TIME
0  Quarter Final 1 -     vs            Hangzhou  21 SEP 2023  6:30 AM IST
1          1st ODI -     vs              Mohali  22 SEP 2023  1:30 PM IST
2          2nd ODI -     vs              Indore  24 SEP 2023  1:30 PM IST
3          3rd ODI -     vs              Rajkot  27 SEP 2023  1:30 PM IST
4          1st ODI -     vs            Guwahati  30 SEP 2023  2:00 PM IST
5         1st T20I -     vs            Hangzhou   3 OCT 2023  6:30 AM IST
6          2nd ODI -     vs  Thiruvananthapuram   3 OCT 2023  2:00 PM IST
7          1st ODI -     vs             Chennai   8 OCT 2023  2:00 PM IST

In [6]:
import selenium                    
from selenium import webdriver     
import pandas as pd
from selenium.webdriver.common.by import By  
import warnings                     
warnings.filterwarnings("ignore")
import time

In [7]:
driver = webdriver.Chrome()

In [8]:
driver.get("https://www.statisticstimes.com/")

In [9]:
search= driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
search.click()

In [10]:
search= driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
search.click()

In [11]:
rank=[]
state=[]
GSDP_18_19=[]
GSDP_19_20=[]
share=[]
GDP=[]

In [12]:
Rank=driver.find_elements(By.XPATH,'//td[@class="data1"]')
for i in Rank:
    RANK=i.text
    rank.append(RANK)

In [13]:
State=driver.find_elements(By.XPATH,'//td[@class="name"]')
for i in State:
    STATE=i.text
    state.append(STATE)

In [14]:
GSDP=driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
for i in GSDP:
    gsdp=i.text
    GSDP_18_19.append(gsdp)

In [15]:
GSDP_19=driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
for i in GSDP_19:
    gsdp=i.text
    GSDP_19_20.append(gsdp)

In [16]:
Share=driver.find_elements(By.XPATH,'//td[@class="data"]')
for i in Share:
    SHARE=i.text
    share.append(SHARE)

In [ ]:
GDP_state=driver.find_elements(By.XPATH,'//td[@class="data"]')
for i in GDP_state:
    GDP_STATE=i.text
    GDP.append(GDP_STATE)

In [17]:
import pandas as pd
df=pd.DataFrame({'RANK':rank, 'STATE':state})
df

   RANK                      STATE
0     1                Maharashtra
1     2                 Tamil Nadu
2     3              Uttar Pradesh
3     4                    Gujarat
4     5                  Karnataka
..  ...                        ...
63   30                   Nagaland
64   31          Arunachal Pradesh
65   32                    Mizoram
66   33  Andaman & Nicobar Islands
67                           India

[68 rows x 2 columns]

In [18]:
driver = webdriver.Chrome()

In [19]:
driver.get("https://github.com/")

In [20]:
search= driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[1]/div[2]/button/span/span/div[2]')
search.click()

In [21]:
search= driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
search.click()

In [31]:
Repository_Title=[]
Repository_Description=[]
Contributor_Count=[]
Language_Used=[]

In [32]:
Title=driver.find_elements(By.XPATH,'//span[@class="text-normal"]')
for i in Title:
    TITLE_REP=i.text
    Repository_Title.append(TITLE_REP)

In [33]:
Description_REP=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in Description_REP:
    DESCRIPTION_REP=i.text
    Repository_Description.append(DESCRIPTION_REP)

In [34]:
Count_REP=driver.find_elements(By.XPATH,'//span[@class="d-inline-block float-sm-right"]')
for i in Count_REP:
    COUNT_REP=i.text
    Contributor_Count.append(COUNT_REP)

In [35]:
Language_USED=driver.find_elements(By.XPATH,'//span[@class="repo-language-color"]')
for i in Language_USED:
    LANG_USED=i.text
    Language_Used.append(LANG_USED)

In [36]:
print(len(Repository_Title),len(Repository_Description),len(Contributor_Count),len(Language_Used))

25 24 25 22

In [37]:
import pandas as pd
df=pd.DataFrame({'TITLE':Repository_Title, 'COUNT':Contributor_Count})
df

                TITLE              COUNT
0          opentofu /  1,319 stars today
1    ProjectUnifree /    157 stars today
2   williamyang1991 /    660 stars today
3        PowerShell /     20 stars today
4         CorentinJ /    467 stars today
5          mastodon /     86 stars today
6          NExT-GPT /    301 stars today
7          WooooDyy /    506 stars today
8          daveshap /     89 stars today
9          coqui-ai /    226 stars today
10        makeplane /    316 stars today
11     nolimits4web /     20 stars today
12         basecamp /    216 stars today
13           sczhou /    152 stars today
14        coder2gwy /     54 stars today
15           vercel /    183 stars today
16          meshery /    185 stars today
17         usememos /     44 stars today
18       aiwaves-cn /    324 stars today
19      D4RK-R4BB1T /     65 stars today
20        hyperdxio /  1,384 stars today
21           fmtlib /     96 stars today
22        ripienaar /    277 stars today
23      public-apis /    137 stars today
24        zhudotexe /     16 stars today

In [38]:
driver = webdriver.Chrome()

In [39]:
driver.get("https://www.billboard.com/")

In [40]:
search= driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[4]/div/div[1]/div[3]')
search.click()

In [ ]:
search= driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[4]/div/div[1]/div[3]')
search.click()

In [43]:
search= driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a')
search.click()

In [44]:
song=[]
artist=[]
last_week_rank=[]
peak_rank=[]
weeks=[]

In [45]:
Song=driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
for i in Song:
    SONG=i.text
    song.append(SONG)

In [46]:
Artist=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for i in Artist:
    ARTIST=i.text
    artist.append(ARTIST)

In [47]:
last_rank=driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')
for i in last_rank:
    Last_Rank=i.text
    last_week_rank.append(Last_Rank)

In [48]:
Peak=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"]')
for i in Peak:
    PEAK=i.text
    peak_rank.append(PEAK)

In [49]:
Weeks=driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')
for i in Weeks:
    WEEK=i.text
    weeks.append(WEEK)

In [50]:
import pandas as pd
df=pd.DataFrame({'SONG':song, 'ARTIST':artist})
df

                           SONG                                ARTIST
0            Paint The Town Red                              Doja Cat
1         I Remember Everything  Zach Bryan Featuring Kacey Musgraves
2                      Fast Car                            Luke Combs
3                  Cruel Summer                          Taylor Swift
4                    Last Night                         Morgan Wallen
..                          ...                                   ...
94                      Lagunas             Peso Pluma & Jasiel Nunez
95  Sittin' On Top Of The World                             Burna Boy
96                      Rubicon                            Peso Pluma
97                          TQM                         Fuerza Regida
98                     Amargura                               Karol G

[99 rows x 2 columns]

In [51]:
driver = webdriver.Chrome()

In [52]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [53]:
book=[]
author=[]
sold=[]
publisher=[]
genre=[]

In [55]:
Book=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in Book:
    BOOK=i.text
    book.append(BOOK)

In [56]:
Author=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in Author:
    AuthoR=i.text
    author.append(AuthoR)

In [57]:
SOLD=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in SOLD:
    Sold=i.text
    sold.append(Sold)

In [58]:
Publisher=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in Publisher:
    PUB=i.text
    publisher.append(PUB)

In [59]:
GENRE=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in GENRE:
    GEN=i.text
    genre.append(GEN)

In [60]:
import pandas as pd
df=pd.DataFrame({'BOOK':book, 'AUTHOR':author, 'SOLD':sold,'PUBLISHER':publisher,'GENRE':genre})
df

,BOOK,AUTHOR,SOLD,PUBLISHER,GENRE
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [61]:
driver = webdriver.Chrome()

In [62]:
driver.get("https://www.imdb.com/list/ls095964455/")