In [1]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\dell\appdata\roaming\python\python39\site-packages (4.11.2)
Requirement already satisfied: trio~=0.17 in c:\users\dell\appdata\roaming\python\python39\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\appdata\roaming\python\python39\site-packages (from selenium) (0.10.3)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium                    
from selenium import webdriver     
import pandas as pd
from selenium.webdriver.common.by import By  
import warnings                     
warnings.filterwarnings("ignore")
import time

In [4]:
#1.

driver = webdriver.Chrome()

In [5]:
driver.get("https://www.shine.com/")

In [7]:
designation= driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
designation.send_keys('Data Analyst')

In [8]:
location= driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [9]:
search= driver.find_element(By.XPATH, "/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [10]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [11]:
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:11]:
    title=i.text
    job_title.append(title)

In [12]:
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:11]:
    location=i.text
    job_location.append(location)

In [13]:
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:11]:
    company=i.text
    company_name.append(company)

In [14]:
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:11]:
    experience=i.text
    experience_required.append(experience)

In [15]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

11 11 11 11

In [16]:
import pandas as pd
df=pd.DataFrame({'Title':job_title, 'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Project Coordinator (Data Analyst),Bangalore,futures and careers,2 to 4 Yrs
1,Data Analyst - Java/Python,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
2,Hiring For Data Analyst,Bangalore\n+14,kavya staffing solutions,0 to 4 Yrs
3,Senior Data Analyst,Bangalore,ara resources private limited,2 to 5 Yrs
4,Data Analyst,Bangalore\n+9,ashutosh sabhashankar chaturvedi hi...,7 to 12 Yrs
5,Data Analyst Urgent Recruiment,Bangalore\n+14,divya interprises,0 to 4 Yrs
6,Apply Now a Data Analyst,Bangalore,deuglo infosystem private limited,1 to 2 Yrs
7,Apply Now Data Analyst,Bangalore,deuglo infosystem private limited,1 to 2 Yrs
8,Needed for Data Analyst,Bangalore,deuglo infosystem private limited,1 to 2 Yrs
9,Urgently need a Data Analyst,Bangalore,deuglo infosystem private limited,1 to 2 Yrs
10,Require now Data Analyst,Bangalore,deuglo infosystem private limited,1 to 2 Yrs

In [17]:
#2.
driver = webdriver.Chrome()

In [18]:
driver.get("https://www.shine.com/")

In [19]:
designation= driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
designation.send_keys('Data Scientist')

In [20]:
location= driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [21]:
search= driver.find_element(By.XPATH, "/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [35]:
job_title=[]
job_location=[]
company_name=[]

In [36]:
title_tags=driver.find_elements(By.XPATH, '//h2[@itemprop="name"]')
for i in title_tags[0:11]:
    title=i.text
    job_title.append(title)

In [37]:
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:11]:
    location=i.text
    job_location.append(location)

In [38]:
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:11]:
    company=i.text
    company_name.append(company)

In [39]:
print(len(job_title),len(job_location),len(company_name))

11 11 11

In [40]:
import pandas as pd
df=pd.DataFrame({'Title':job_title, 'Location':job_location,'Company_name':company_name})
df

,Title,Location,Company_name
0,Hiring For Data Scientist,Bangalore\n+17,kavya staffing solutions
1,Hiring For Data Scientist,Bangalore\n+17,kavya staffing solutions
2,Data Scientist,Bangalore,skyleaf consultants
3,Data Scientist Urgent Recruitment,Bangalore\n+14,divya interprises
4,Required for Data Scientist,Bangalore,deuglo infosystem private limited
5,Urgently need Data Scientist,Bangalore\n+8,deuglo infosystem private limited
6,Data scientist Bangalore,Bangalore,seven geomax consulting private lim...
7,Data Scientist,Bangalore,employberry consultants hiring for ...
8,Hiring For Data Scientist,Bangalore\n+15,niharika enterprises
9,Needed for the post Data Scientist,Bangalore\n+8,deuglo infosystem private limited
10,Data Scientist,Bangalore\n+6,quiscon biotech

In [2]:
import selenium                    
from selenium import webdriver     
import pandas as pd
from selenium.webdriver.common.by import By  
import warnings                     
warnings.filterwarnings("ignore")
import time

In [77]:
#3.
driver = webdriver.Chrome()

In [78]:
driver.get("https://www.shine.com/")

In [79]:
designation= driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
designation.send_keys('Data Scientist')

In [80]:
search= driver.find_element(By.XPATH, "/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [82]:
location_checkbox= driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div/ul/li[1]/button")
location_checkbox.click()

In [83]:
search= driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[8]/span/label")
search.click()

In [84]:
search= driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[4]/button[2]")
search.click()

In [85]:
salary_checkbox= driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div/ul/li[3]/button")
salary_checkbox.click()

In [86]:
search= driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[3]/span/label")
search.click()

In [87]:
search= driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[4]/button[2]")
search.click()

In [88]:
JOB_title=[]
JOB_location=[]
COMPANY_name=[]
EXPERIENCE_required=[]

In [89]:
Title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in Title_tags[0:10]:
    title=i.text
    JOB_title.append(title)
    
Location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in Location_tags[0:10]:
    location=i.text
    JOB_location.append(location)
    
Company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in Company_tags[0:10]:
    company=i.text
    COMPANY_name.append(company)
    
Experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in Experience_tags[0:10]:
    experience=i.text
    EXPERIENCE_required.append(experience)

In [90]:
print(len(JOB_title),len(JOB_location),len(COMPANY_name),len(EXPERIENCE_required))

10 10 10 10

In [91]:
import pandas as pd
df=pd.DataFrame({'Title':JOB_title, 'Location':JOB_location,'Company_name':COMPANY_name,'Experience':EXPERIENCE_required})
df

,Title,Location,Company_name,Experience
0,Data Scientist,Delhi\n+6,quiscon biotech,0 to 3 Yrs
1,Data Scientist,Delhi,skyleaf consultants,3 to 6 Yrs
2,Data Scientist,Delhi\n+6,quiscon biotech,0 to 1 Yr
3,Data Scientist,Delhi\n+4,acme services private limited,3 to 5 Yrs
4,for _GCP Data Engineer/Lead/Architect- Delhi,Delhi,nina s hr consultancy,2 to 3 Yrs
5,for _GCP Data Engineer/Lead/Architect- Delhi,Delhi,nina s hr consultancy,2 to 3 Yrs
6,Req. For Data Scientist -Reputed Data Analytic...,Delhi,seven consultancy,2 to 6 Yrs
7,For Senior Data Scientist-Reputed IT Industry,Delhi,seven consultancy,4 to 8 Yrs
8,Req. now Data Scientist,Delhi,seven consultancy,3 to 5 Yrs
9,Data Scientist,Delhi,skyleaf consultants,3 to 6 Yrs

In [92]:
import selenium                    
from selenium import webdriver     
import pandas as pd
from selenium.webdriver.common.by import By  
import warnings                     
warnings.filterwarnings("ignore")
import time

In [110]:
#4. 
driver = webdriver.Chrome()

In [111]:
driver.get("https://www.flipkart.com/")

In [112]:
Product= driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/div/input")
Product.send_keys('sunglasses')

In [114]:
search= driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/button")
search.click()

In [116]:
BRAND=[]
DESCRIPTION=[]
PRICE=[]

In [117]:
Brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in Brand_tags:
    brand=i.text
    BRAND.append(brand)

Description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in Description_tags:
    description=i.text
    DESCRIPTION.append(description)

Description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]')
for i in Description_tags:
    description=i.text
    DESCRIPTION.append(description)
    
Price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in Price_tags:
    price=i.text
    PRICE.append(price)

In [118]:
print(len(BRAND),len(DESCRIPTION),len(PRICE))

40 40 40

In [119]:
import pandas as pd
df=pd.DataFrame({'Brand':BRAND, 'Product Description':DESCRIPTION,'Price':PRICE})
df

             Brand                                Product Description   Price
0    VINCENT CHASE  UV Protection, Polarized Over-sized Sunglasses...    ₹899
1     Singco India  Riding Glasses, UV Protection Clubmaster, Wayf...    ₹379
2             SRPM             UV Protection Wayfarer Sunglasses (50)    ₹204
3           PIRASO           UV Protection Clubmaster Sunglasses (54)    ₹239
4        Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...    ₹179
5        Elligator   UV Protection, Mirrored Wayfarer Sunglasses (54)    ₹199
6        Rich Club              UV Protection Aviator Sunglasses (58)    ₹495
7           GANSTA   UV Protection Rectangular Sunglasses (Free Size)    ₹242
8         Fastrack             UV Protection Wayfarer Sunglasses (58)    ₹629
9         Fastrack     Polarized, UV Protection Round Sunglasses (50)    ₹769
10   VINCENT CHASE  UV Protection, Gradient Rectangular Sunglasses...    ₹883
11  ROZZETTA CRAFT  UV Protection Retro Square Sunglasses (Free Size)    ₹335
12      iCopertina              UV Protection Cat-eye Sunglasses (41)    ₹219
13          VOYAGE  Polarized, UV Protection Retro Square Sunglass...    ₹999
14            BKGE  UV Protection, Gradient Butterfly Sunglasses (62)    ₹197
15       ROYAL SON     Polarized, UV Protection Round Sunglasses (51)    ₹594
16   VINCENT CHASE          UV Protection Rectangular Sunglasses (55)    ₹965
17    Singco India          Night Vision Retro Square Sunglasses (60)    ₹502
18      SmartGlass     Polarized, UV Protection Round Sunglasses (48)    ₹429
19          PIRASO  Polarized, UV Protection Retro Square Sunglass...    ₹379
20     john jacobs  UV Protection Wayfarer, Sports, Spectacle , Re...  ₹6,000
21       ROYAL SON              UV Protection Aviator Sunglasses (58)    ₹594
22         ROADWAY             UV Protection Wayfarer Sunglasses (59)    ₹294
23        Fastrack  Polarized, UV Protection Rectangular Sunglasse...  ₹1,037
24       Elligator  UV Protection Rectangular, Retro Square Sungla...    ₹168
25   VINCENT CHASE         UV Protection Retro Square Sunglasses (54)    ₹569
26     Eyewearlabs                   Mirrored Aviator Sunglasses (55)  ₹2,199
27       ROYAL SON  by Lenskart Polarized, UV Protection Round Sun...    ₹497
28      SmartGlass              UV Protection Aviator Sunglasses (62)    ₹429
29       Rich Club         UV Protection Round Sunglasses (Free Size)    ₹488
30       ROYAL SON  UV Protection, Gradient Rectangular Sunglasses...    ₹398
31   VINCENT CHASE  by Lenskart Polarized, UV Protection Cat-eye S...    ₹883
32  ROZZETTA CRAFT         UV Protection Retro Square Sunglasses (51)    ₹649
33        PROVOGUE  Polarized, Riding Glasses Sports, Wrap-around ...    ₹664
34      SmartGlass  Polarized, UV Protection Wayfarer Sunglasses (61)    ₹429
35  ROZZETTA CRAFT         UV Protection Retro Square Sunglasses (54)    ₹299
36   VINCENT CHASE       UV Protection Aviator Sunglasses (Free Size)    ₹883
37     john jacobs    UV Protection Aviator, Wayfarer Sunglasses (54)  ₹3,134
38  ROZZETTA CRAFT       UV Protection Aviator Sunglasses (Free Size)    ₹497
39       ROYAL SON       UV Protection Aviator Sunglasses (Free Size)    ₹559

In [120]:
BRAND=[]
start=0
end=3
for page in range(start,end):
    Brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in Brand:
        BRAND.append(i.text)
    next_button= driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(4)

In [121]:
len(BRAND)

120

In [123]:
DESCRIPTION=[]
start=0
end=3
for page in range(start,end):
    Product_Description=driver.find_elements(By.CLASS_NAME,'IRpwTa')
    for i in Product_Description:
        DESCRIPTION.append(i.text)
    next_button= driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(4)

In [124]:
len(DESCRIPTION)

120

In [125]:
PRICE=[]
start=0
end=3
for page in range(start,end):
    Price=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in Price:
        PRICE.append(i.text)
    next_button= driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(4)

In [126]:
len(PRICE)

120

In [128]:
import pandas as pd
df=pd.DataFrame({'Brand':BRAND, 'Product Description':DESCRIPTION,'Price':PRICE})
df[0:100]

            Brand                                Product Description   Price
0   VINCENT CHASE  UV Protection, Polarized Over-sized Sunglasses...    ₹899
1    Singco India  Riding Glasses, UV Protection Clubmaster, Wayf...    ₹379
2            SRPM  Night Vision, UV Protection, Polarized Wrap-ar...    ₹204
3          PIRASO                             UV Protection Sunglass    ₹239
4       Elligator  UV Protection, Gradient Rectangular Sunglasses...    ₹179
..            ...                                                ...     ...
95      ROYAL SON  by Lenskart Polarized, UV Protection Aviator S...    ₹594
96  VINCENT CHASE             UV Protection Wayfarer Sunglasses (62)    ₹502
97      ROYAL SON  UV Protection, Mirrored Clubmaster Sunglasses ...  ₹2,199
98     SmartGlass             UV Protection Wayfarer Sunglasses (53)    ₹429
99        ROADWAY             UV Protection Wayfarer Sunglasses (50)    ₹294

[100 rows x 3 columns]

In [129]:
#5. 

driver = webdriver.Chrome()

In [130]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [132]:
Ratings=[]
Review_Summary=[]
Full_Review=[]

In [133]:
Rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in Rating_tags[0:10]:
    RATINGS=i.text
    Ratings.append(RATINGS)
    
Review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in Review_tags[0:10]:
    REVIEW=i.text
    Review_Summary.append(REVIEW)
    
Fullreview_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in Fullreview_tags[0:10]:
    FULLREVIEW=i.text
    Full_Review.append(FULLREVIEW)

In [134]:
import pandas as pd
df=pd.DataFrame({'RATINGS':Ratings, 'REVIEW SUMMARY':Review_Summary,'FULL REVIEW':Full_Review})
df

,RATINGS,REVIEW SUMMARY,FULL REVIEW
0,5,Classy product,Photos super
1,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
2,5,Terrific,Very very good
3,5,Wonderful,This is amazing at all
4,5,Perfect product!,V Good all
5,5,Worth every penny,Feeling awesome after getting the delivery of ...
6,5,Best in the market!,Good Camera
7,5,Just wow!,Perfect Product!!
8,5,Fabulous!,Super🔥 and good performance 👌❤️
9,5,Great product,Purple is best

In [135]:
Ratings=[]
start=0
end=10
for page in range(start,end):
    RATINGS=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in RATINGS:
        Ratings.append(i.text)
    next_button= driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(11)

In [136]:
len(Ratings)

100

In [137]:
Review_Summary=[]
start=0
end=10
for page in range(start,end):
    REVIEW_SUMMARY=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in REVIEW_SUMMARY:
        Review_Summary.append(i.text)
    next_button= driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(11)

In [138]:
len(Review_Summary)

100

In [139]:
Full_Review=[]
start=0
end=10
for page in range(start,end):
    FULL_REVIEW=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in FULL_REVIEW:
        Full_Review.append(i.text)
    next_button= driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(11)

In [140]:
len(Full_Review)

100

In [141]:
import pandas as pd
df=pd.DataFrame({'RATINGS':Ratings, 'REVIEW SUMMARY':Review_Summary,'FULL REVIEW':Full_Review})
df

,RATINGS,REVIEW SUMMARY,FULL REVIEW
0,5,Classy product,Photos super
1,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
2,5,Terrific,Very very good
3,5,Wonderful,This is amazing at all
4,5,Perfect product!,V Good all
...,...,...,...
95,5,Brilliant,very good camera quality
96,5,Fabulous!,It’s very good battery life and display and vi...
97,5,Excellent,NYC
98,5,Best in the market!,Damn this phone is a blast . Upgraded from and...
99,5,Awesome,iPhone 11 is a good phone. Not a very big diff...

In [142]:
#6.
driver = webdriver.Chrome()

In [143]:
driver.get("https://www.flipkart.com/")

In [144]:
Product= driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
Product.send_keys('sneakers')

In [147]:
search= driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [148]:
BRAND=[]
DESCRIPTION=[]
PRICE=[]

In [149]:
Brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in Brand_tags:
    brand=i.text
    BRAND.append(brand)

Description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in Description_tags:
    description=i.text
    DESCRIPTION.append(description)
    
Description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]')
for i in Description_tags:
    description=i.text
    DESCRIPTION.append(description)
    
Price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in Price_tags:
    price=i.text
    PRICE.append(price)

In [150]:
print(len(BRAND),len(DESCRIPTION),len(PRICE))

40 40 40

In [151]:
import pandas as pd
df=pd.DataFrame({'Brand':BRAND, 'Product Description':DESCRIPTION,'Price':PRICE})
df

,Brand,Product Description,Price
0,Magnolia,Modern Trendy Sneakers boot Sneakers Sneakers ...,₹449
1,SFR,Exclusive Affordable Collection of Trendy & St...,₹349
2,BRUTON,Modern Trendy Shoes Sneakers For Men,₹379
3,Nobelite,Sneakers For Men,₹299
4,aadi,Synthetic Leather |Lightweight|Comfort|Summer|...,₹398
5,PUMA,Puma Rebound LayUp SL Sneakers For Men,"₹1,930"
6,Schuster,Sneakers For Men,₹549
7,ATOM,UP Sneakers For Men,"₹1,485"
8,PUMA,Buzz Sneakers For Men,"₹1,508"
9,PUMA,Sneakers For Men,"₹3,599"
10,RapidBox,Exclusive Affordable Collection of Trendy & St...,₹750
11,SFR,Rebound LayUp SL Sneakers For Men,₹349
12,PUMA,Stylish and Comfirtable Shoes For Mens Sneaker...,"₹2,649"
13,Sparx,"Lightweight,Comfort,Summer,Trendy,Walking,Outd...",₹629
14,aadi,Sneakers For Men,₹299
15,Nobelite,Sneakers For Men,₹299
16,Magnolia,Trendy Stylish Chunky Sneakers For Men,₹449
17,Magnolia,Sneakers For Men,₹499
18,Free Kicks,Hustle V2 Sneakers For Men,₹599
19,PUMA,"asian Thunder-01 White Color Change Sneakers,C...","₹1,299"
20,asian,Sneakers For Men,₹940
21,ATOM,SM-734 Sneakers For Men,"₹1,485"
22,Sparx,UP Sneakers For Men,₹519
23,PUMA,Club Culture Sneakers For Men,"₹1,432"
24,HRX by Hrithik Roshan,"Trendy-21 White Color Change Sneakers,Casuals,...","₹1,047"
25,asian,Sneakers For Men,₹649
26,Magnolia,Street Icon M Sneakers For Men,₹449
27,ADIDAS,Sneakers For Men,"₹1,819"
28,asian,Junior Zero1 Sports shoes for Men | Gym Traini...,₹622
29,Airson,Sneakers For Men,₹999
30,WROGN,Caven Sneakers For Men,"₹1,085"
31,WROGN,Combo Of 2 Shoes FK-570 & FK-338 Sneakers For Men,₹926
32,Layasa,INFINITY 2.0 Sneakers For Women,₹399
33,PUMA,Branded Black Sneakers For Men,"₹2,079"
34,Free Kicks,Hustle V2 Sneakers For Men,"₹1,400"
35,Kraasa,Sneakers For Men,₹399
36,Dillions,Sneakers For Men,₹530
37,Zixer,Sneakers For Men,₹833
38,PUMA,Sneakers For Men,"₹1,299"
39,aadi,Sneakers For Men,₹435

In [153]:
BRAND=[]
start=0
end=3
for page in range(start,end):
    Brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in Brand:
        BRAND.append(i.text)
    next_button= driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(4)

In [154]:
len(BRAND)

120

In [155]:
DESCRIPTION=[]
start=0
end=3
for page in range(start,end):
    Product_Description=driver.find_elements(By.CLASS_NAME,'IRpwTa')
    for i in Product_Description:
        DESCRIPTION.append(i.text)
    next_button= driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(4)

In [156]:
len(DESCRIPTION)

120

In [157]:
PRICE=[]
start=0
end=3
for page in range(start,end):
    Price=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in Price:
        PRICE.append(i.text)
    next_button= driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(4)

In [158]:
len(PRICE)

120

In [159]:
import pandas as pd
df=pd.DataFrame({'Brand':BRAND, 'Product Description':DESCRIPTION,'Price':PRICE})
df[0:100]

       Brand                                Product Description   Price
0   Magnolia  Modern Trendy Sneakers boot Sneakers Sneakers ...    ₹499
1        SFR  Exclusive Affordable Collection of Trendy & St...  ₹7,279
2      asian               Modern Trendy Shoes Sneakers For Men    ₹435
3      Asics                                   Sneakers For Men    ₹940
4     BRUTON  Synthetic Leather |Lightweight|Comfort|Summer|...    ₹499
..       ...                                                ...     ...
95   LIBERTY  Lightweight,Comfort,Summer,Trendy,Walking,Outd...    ₹875
96    ADIDAS                                   Sneakers For Men    ₹499
97     WROGN             Trendy Stylish Chunky Sneakers For Men  ₹1,819
98   Rowlans                                   Sneakers For Men    ₹513
99     asian                                   Sneakers For Men    ₹587

[100 rows x 3 columns]

In [160]:
#7.
driver = webdriver.Chrome()

In [161]:
driver.get("https://www.amazon.in/")

In [162]:
Product= driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
Product.send_keys('Laptop')

In [163]:
search= driver.find_element(By.XPATH, "/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [164]:
search= driver.find_element(By.XPATH, "/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[7]/span[12]/li/span/a/span")
search.click()

In [182]:
TITLE_TAGS=[]
RATINGS_TAGS=[]
PRICE_TAGS=[]

In [183]:
TITLE_tags=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in TITLE_tags[0:10]:
    ProducT_Title=i.text
    TITLE_TAGS.append(ProducT_Title)

RATINGS_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-base puis-normal-weight-text"]')
for i in RATINGS_tags[0:10]:
    ProducT_Ratings=i.text
    RATINGS_TAGS.append(ProducT_Ratings)
    
PRICE_tags=driver.find_elements(By.XPATH,'//SPAN[@class="a-price-whole"]')
for i in PRICE_tags[0:10]:
    PRODUCt_PRICe=i.text
    PRICE_TAGS.append(PRODUCt_PRICe)

In [184]:
print(len(TITLE_TAGS),len(RATINGS_TAGS),len(PRICE_TAGS))

10 10 10

In [185]:
import pandas as pd
df=pd.DataFrame({'TITLE':TITLE_TAGS, 'RATINGS':RATINGS_TAGS,'PRICE':PRICE_TAGS})
df

                                               TITLE RATINGS     PRICE
0  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...     4.0    64,990
1  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...     4.5    70,990
2  ASUS TUF Gaming F15, 15.6-inch (39.62 cms) FHD...     4.0    89,990
3  Acer Nitro 5 12th Gen Intel Core i7-12650H Gam...     3.3    99,990
4  Lenovo [SmartChoice] IdeaPad Slim 3 Intel Core...     4.4    62,990
5  ASUS TUF Gaming F15 (2023) 90WHr Battery, Inte...     4.6  1,15,990
6  Dell Vostro 5630 13th Gen Laptop,Intel i7-1355...     3.6    89,990
7  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...     3.3    52,990
8  Dell Inspiron 5630 13th Gen Laptop, Intel Core...     4.3    89,990
9  ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144H...     4.2    76,990

In [186]:
#8.
driver = webdriver.Chrome()

In [187]:
driver.get("https://www.azquotes.com/")

In [188]:
search= driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
search.click()

In [192]:
QUOTE=[]
AUTHOR=[]
TYPE=[]

In [193]:
Quote_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in Quote_tags:
    quote=i.text
    QUOTE.append(quote)

Author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in Author_tags:
    author=i.text
    AUTHOR.append(author)
    
Type_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in Type_tags:
    type_tags=i.text
    TYPE.append(type_tags)

In [195]:
print(len(QUOTE),len(AUTHOR),len(TYPE))

100 100 100

In [196]:
import pandas as pd
df=pd.DataFrame({'Quote':QUOTE, 'Author':AUTHOR,'Type of Quotes':TYPE})
df

,Quote,Author,Type of Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

In [197]:
QUOTE=[]
start=0
end=10
for page in range(start,end):
    Quote=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in Quote:
        QUOTE.append(i.text)
    next_button= driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[12]')
    next_button.click()
    time.sleep(11)

In [198]:
len(QUOTE)

1000

In [199]:
AUTHOR=[]
start=0
end=10
for page in range(start,end):
    Author=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in Author:
        AUTHOR.append(i.text)
    next_button= driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[12]')
    next_button.click()
    time.sleep(11)

In [200]:
len(AUTHOR)

1000

In [201]:
TYPE=[]
start=0
end=10
for page in range(start,end):
    Type=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in Type:
        TYPE.append(i.text)
    next_button= driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[12]')
    next_button.click()
    time.sleep(11)

In [202]:
len(TYPE)

1000

In [203]:
import pandas as pd
df=pd.DataFrame({'Quote':QUOTE, 'Author':AUTHOR,'Type of Quotes':TYPE})
df

,Quote,Author,Type of Quotes
0,The essence of strategy is choosing what not t...,Amelia Earhart,"Inspirational, Life, Success"
1,One cannot and must not try to erase the past ...,Ludwig von Mises,"Peace, War, Government"
2,Patriotism means to stand by the country. It d...,Elizabeth Cady Stanton,"Life, Strength, Courage"
3,Death is something inevitable. When a man has ...,Benjamin Spock,"Positive, Family, Trust"
4,You have to love a nation that celebrates its ...,Michael Jordan,"Inspirational, Life, Motivational"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

In [204]:
#9.

driver = webdriver.Chrome()

In [205]:
driver.get("https://www.jagranjosh.com/")

In [206]:
search= driver.find_element(By.XPATH, "/html/body/div/header/nav/div/div/div[3]/ul/li[3]/a")
search.click()

In [207]:
search= driver.find_element(By.XPATH, "/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
search.click()

In [208]:
Name=[]
Born_Dead=[]
Term_office=[]
Remarks=[]

In [ ]:
Name_tags=driver.find_elements(By.XPATH,'')
for i in Name_tags:
    name=i.text
    Name.append(name)

Born_dead_tags=driver.find_elements(By.XPATH,'')
for i in Born_dead_tags:
    born_dead=i.text
    Born_Dead.append(author)
    
Term_office_tags=driver.find_elements(By.XPATH,'')
for i in Term_office_tags:
    term=i.text
    Term_office.append(term)

Remarks_tags=driver.find_elements(By.XPATH,'')
for i in Remarks_tags:
    remarks=i.text
    Remarks.append(remarks)

In [220]:
#10.

driver = webdriver.Chrome()

In [221]:
driver.get("https://www.motor1.com/")

In [ ]:
cars= driver.find_element(By.XPATH,"/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input")
cars.send_keys('50 Most Expensive Cars')

In [ ]:
search= driver.find_element(By.XPATH, "/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]")
search.click()

In [ ]:
search= driver.find_element(By.XPATH, "/html/body/div[10]/div[9]/div/div[1]/div/div/div[2]/div/div[1]")
search.click()

In [ ]:
car_name=[]
price=[]

In [ ]:
name_tags=driver.find_elements(By.XPATH.'//h3[@class="subheader"]')
for i in name_tags:
    name=i.text
    car_name.append(name)
    
price_tags=driver.find_elements(By.XPATH.'//h3[@class="price"]')
for i in price_tags:
    Price_tags=i.text
    price.append(Price_tags)

In [ ]:
import pandas as pd
df=pd.DataFrame({'cars':car_name, 'Price':price})
df